@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.open-modal {
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
h2 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* основные стили конпок */
/* кнопки не наследуют глобальные стили, например с body,
чтобы произошло наследование, надо прописать inherit.
например:
font-family: inherit; унаследую шрифт */
.btn {
  /* border: none; */
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  /* transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  /* нужно ли анимировать box-shadow??? */
  /* transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition: background-color 250ms var(--timimg-function),
    color 250ms var(--timimg-function); */
}

.section-title {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo-style {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  fill: #212121;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .menu-button_open {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover,
.menu-button:focus {
  fill: #2196f3;
}

.menu-button.is-open .menu-button_open {
  display: block;
}

.menu-button.is-open .menu-button_close {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    padding: 60px 0;
    text-align: center;
  }
  .mobile-menu.is-open {
    display: block;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: contents;
  }
}

/* навигация сайта --------------------------------*/
/* .site-nav .link {
  background-color: tomato;
} */
/* .main {
  display: flex;
  align-items: center;
} */
/* .main-nav {
  display: flex;
} */
.main {
  position: relative;
}

@media screen and (max-width: 767px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .main,
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    margin-left: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 86px;
  }
}

/* левый маржин у всех, кроме первого элемента */
@media screen and (max-width: 767px) {
  .site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .site-nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

/* всем элементам кроме последнего */
/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .link.current {
  color: #2196f3;
}

/* подчеркивание навигации ----------------- */
.site-nav .link {
  position: relative;
}

.site-nav .link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  /* width: 0%; */
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover::before {
  opacity: 1;
  /* width: 100%; */
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------------------------- */
/* строчным элементам не применяется вертикальная геометрия,
например паддинг, надо его сделать строчно-блочным */
.site-nav .link {
  display: inline-block;
  padding-bottom: 8px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav .link.current {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    display: block;
    padding: 32px 0;
  }
}

.auth-nav .link {
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .auth-nav .link {
    padding: 8px 0 8px 0;
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav .link {
    padding: 7px 0 7px 0;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .link {
    padding: 32px 0 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.auth-nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .item + .item {
    margin-left: 30px;
  }
}

/* .auth-nav .item:not(:first-child) {
  margin-left: 30px;
} */
@media screen and (max-width: 767px) {
  .auth-nav-icon__envelope {
    margin-right: 10px;
    width: 16px;
    height: 11.2px;
  }
  .auth-nav-icon__tel {
    margin-right: 10px;
    width: 10px;
    height: 14.94px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav-icon__envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
  .auth-nav-icon__tel {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-icon__envelope {
    margin-right: 10px;
    width: 16px;
    height: 11.2px;
  }
  .auth-nav-icon__tel {
    margin-right: 10px;
    width: 10px;
    height: 14.94px;
  }
}

/* .auth-nav .email::before {
  display: inline-flex;
  content: "";

  width: 16px;
  height: 11.2px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
} */
/* .auth-nav .tel::before {
  display: inline-flex;
  content: "";

  width: 10px;
  height: 14.94px;
  margin-right: 10px;
  background-image: url(../images/smartphone.svg);
  background-position: center;
} */
.hero {
  /* если задать max-width то фото будет ограничено по нирине
   и на больших экранах, будет справа и слева фото белые пробелы */
  /* height: 600px; */
  /* если выключить max-width, то фото будет тянуться до бесконечгости */
  padding: 118px 0;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-1_480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-1_480.jpg");
  /* когда фото меньше нужной ширины и выше нужной высоты */
  /* также, когда фото нужно растянуть по ширине на весь экран, 
даже на очень большой */
  /* когда надо, чтобы фото рянулась до бесконечности */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  /* анимация бекграунда ================================ */
  /* background-size: 400% 400%; */
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 120px 0;
  }
}

/* =============================================== */
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-1_960.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-1_960.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-1_1440.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-1_1440.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-2_768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-2_768.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-2_1536.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-2_1536.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 481px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-2_2304.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-2_2304.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-3_1600.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-3_1600.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-3_3200.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-3_3200.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 3), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 769px) and (min-resolution: 288dpi), screen and (min-width: 769px) and (min-resolution: 3dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/hero/hero-3_4800.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero/hero-3_4800.jpg");
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  color: #ffffff;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* конопка героя ==================================*/
.btn-primery {
  position: relative;
  padding: 10px 32px;
  overflow: hidden;
  /* min-width: 200px; */
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  background-color: transparent;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

/* почему не работает обратная анимация
 на цвете текста ?????????? */
.btn-primery::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 60px;
  left: -10%;
  top: 0;
  background-color: #ffffff;
  -webkit-transform: translateY(120%) rotate(-7deg);
          transform: translateY(120%) rotate(-7deg);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primery:hover {
  color: #212121;
}

.btn-primery:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: -1;
}

/* обычно ставят backdrop, но может быть и overlay */
.backdrop {
  /* серый фон фиксируется на страницу */
  position: fixed;
  top: 0;
  /* bottom: 0; */
  /* right: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

/* .backdrop--hidden если БЭМ */
.backdrop.is-hidden {
  opacity: 0;
  /* события указателя-
  для того, чтобы backdrop пропускал через себя клики */
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    top: 60%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    width: 528px;
  }
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  /* text-align: center; */
  color: #212121;
}

/* .form-item input {
  width: 100%;
  margin-bottom: 28px;
  padding: 12px 16px 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
} */
/* стилизирую placeholder --------------------------- */
/* стилизируется только текс, геометрию тут нельзя задавать */
/* .form-item input::placeholder,
.form-textarea textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-color-text);
} */
/* --------------------------------------------------- */
/* .form-textarea textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
} */
/* стилизация по типу */
/* очень тяжело стилизируется и в разных браузерах по разному будет выводится
для того чтобы все было гуд, надо делать кастомные чекбоксы */
/* .style-checkbox input[type="checkbox"] {
} */
/* метку позиционируем поверх инпута */
/* .form-item,
.form-textarea {
  position: relative;
} */
.form-field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 16px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* селектор соседа */
/* + выбирает ближайшего соседа */
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  /* выбрать фор-лейбел, который идет сразу после форм-инпута,
  когда у того не показат плайсхолдер */
  -webkit-transform: translate(-30px, -30px);
          transform: translate(-30px, -30px);
  color: #2196f3;
}

/* после заполнения формы ее граница меняет цвет и фиксирует его */
.form-input:not(:placeholder-shown),
.form-field:focus-within > .form-field {
  border-color: #2196f3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

/* после заполнения формы, иконка меняет цвет и фиксирует его */
.form-input:not(:placeholder-shown) ~ .form-icon,
.form-field:focus-within > .form-icon {
  fill: #2196f3;
}

.form-field textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-type {
  margin-bottom: 20px;
}

.form-label-textarea {
  position: absolute;
  top: 15%;
  left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-type:focus ~ .form-label-textarea,
.form-type:not(:placeholder-shown) ~ .form-label-textarea {
  color: #2196f3;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

/* checkbox ---------------------------------------- */
.style-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .style-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

/* .checkbox-label {
  display: flex;
  align-items: center;
} */
/* скрываю оригинальный checkbox */
/* appearance: none; работает не во всех браузерах */
/* appearance - на будущее... */
.checkbox {
  /* -webkit-appearance: none;
-moz-appearance: none;
appearance: none;

position: absolute; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-policy {
  color: #2196f3;
  text-decoration: underline;
}

/* -------------------------------------------------- */
/* закрытие модального окна */
.btn-modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15px;
  left: 97%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover {
  background-color: #dcdcdc;
}

.btn-modal-close-icon {
  fill: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-close:hover .btn-modal-close-icon {
  fill: #2196f3;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btn.btn-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 55px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover,
.btn-send:focus {
  background-color: #33527a;
  color: #2f303a;
}

.section-feature {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section-feature {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/* ======================================================= */
/* .feature-list .item::before {
  content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
} */
/* можно просто задать доп класс каждой ЛИ и к этому классу поставить background-image: url() */
/* например: icon-...::before{} */
/* .feature-list .item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
} */
/* .feature-list .item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
} */
/* .feature-list .item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
} */
/* .feature-list .item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
} */
/* ============================================================ */
.feature-list .title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .feature-list .title {
    text-align: center;
  }
}

/* нижний маржин в 30пкс должен быть от верхнего элемента!!! */
.feature-list .title {
  margin-bottom: 10px;
}

.feature-list .item {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list .item {
    width: 354px;
  }
  .feature-list .item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .feature-list .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list .item {
    width: 270px;
  }
}

/* очистка крайней геометрии.............. */
/* .feature-list .item + .item {
  margin-left: 30px;
} */
@media screen and (max-width: 767px) {
  .feature-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

/* ....................................... */
.feature-list .text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-occupation {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section-occupation {
    display: none;
  }
}

.occupation-list .title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.occupation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.occupation-list .item {
  position: relative;
}

.occupation-list .title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  /* margin: 0 auto; */
  color: #ffffff;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation-list .item + .item {
  margin-left: 30px;
}

/* убрал зазор в 4рх */
/* .gap-images {
  display: block;
} */
.section-command {
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-command {
    padding: 94px 0;
  }
}

@media screen and (max-width: 767px) {
  .command-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .command-list .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .command-list .item:nth-child(2n) {
    margin-right: 0;
  }
  .command-list .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .command-list .item + .item {
    margin-left: 30px;
  }
}

/* из-за background на углах видно белый фон!!! */
.command-list .item {
  /* display: block; */
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  overflow: hidden;
}

.command-list .name,
.command-list .position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-foto {
  margin-bottom: 30px;
}

.command-list .name {
  margin: 0 0 10px;
}

.command-list .position {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 32px 24px;
}

.social-network-item:not(:last-child) {
  margin-right: 10px;
}

/* в спарйте, если есть width и height, то надо их удалить */
.social-network .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network .link:hover, .social-network .link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/* поворот фото на 180градусов --------------------- */
.card {
  /* border: 1px solid rgb(126, 45, 45); */
}

.front,
.back {
  /* position: absolute; */
  /* width: 270px; */
  /* height: 260px; */
  /* left: 0; */
  /* top: 0; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* .front img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
} */
.back {
  /* width: 270px; */
  /* height: 260px; */
  /* display: block;
  justify-content: center;
  align-items: center; */
}

.section-clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding: 94px 0;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .clients .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .clients .item:nth-child(2n) {
    margin-right: 0;
  }
  .clients .item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .clients .item:nth-child(3n) {
    margin-right: 0;
  }
  .clients .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .clients .item {
    width: calc((100% - 150px) / 6);
  }
  .clients .item + .item {
    margin-left: 30px;
  }
}

/* если оставить border: 1px solid #afb1b8, то цвет рамки при
ховере не будет менятся! */
.clients .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  fill: #afb1b8;
  color: #afb1b8;
  border: 1px solid;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients a:hover,
.clients a:focus {
  color: #2196f3;
  fill: #2196f3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* пример */
/* .clients-item-link:hover,
.clients-item-link:focus {
  border-color: var(--active-color);
  transform: scale(1.1);
}
.clients-item-link:hover .clients-logo,
.clients-item-link:focus .clients-logo {
  fill: var(--active-color);
} */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 15px;
  }
  .filter .item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.filter .list {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .list:hover, .filter .list:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.example {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .example {
    padding: 94px 0;
  }
}

.example-title {
  margin: 0;
  text-align: center;
}

/* строчный элемент сделал блочным, чтобы ссылка растянулась на всю карточку */
.our-works-link {
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
}

/* overflow: hidden; скрывает все что выходит  за пределы
в данном случае, скрывает уголки картинки, 
так как они выходят за пределы скругленных углов  */
/* надо ли этот стиль????? */
/* .our-works-foto {
} */
.our-works-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.our-works .title {
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.our-works .item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-works .overlay {
  position: relative;
  overflow: hidden;
}

/* display: none;
display: block;
если не нужно анимировать выпадающее меню, 
если нужно то тошда opacity */
.our-works .text {
  position: absolute;
  opacity: 0;
  /* display: none; */
  /* top: 100%;
  left: 0; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  border-radius: 5px 5px 0 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  /* transform: scaleZ(0); */
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .our-works .text {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-works .text {
    padding: 20px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .our-works .text {
    padding: 40px 24px;
  }
}

.our-works-link:hover .text,
.our-works-link:focus .text {
  opacity: 1;
  /* display: block; */
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  /* transform: scaleZ(1); */
}

/* задержка появления текста */
.our-works .hidden {
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.our-works-link:hover .hidden {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .our-works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/* первый вариант--------------------------------- */
/* .our-works .list{
  margin-right: 30px;
  margin-bottom: 30px;
} */
/* .our-works .list:nth-child(3n){
  margin-right: 0;
} */
/* у последних трех маржин 0 */
/* .our-works .list:nth-last-child(-n + 3){
  margin-bottom: 0;
} */
/* ------------------------------------------------- */
/* второй вариант */
/* у всех маржин 30пкс, кроме каждого третьего */
/* .our-works .list:not(:nth-child(3n)) {
  margin-right: 30px;
} */
/* .our-works .list:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
/* ----------------------------------------------- */
/* самый лучший вариант */
/* третий вариант, надо убрать фиксированый width у картинки */
/* от 100% высчитываем правый маржин 60пкс (в трех колонках два зазора по 30пкс) и делим на 3 колонки */
/* calc(100% - кол маржинов в строке * на значение маржина) / на кол элементов в строке */
@media screen and (max-width: 767px) {
  .our-works .list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-works .list {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    /* у каждого третьего справа маржин 0 */
    /* у всех, кроме трех последних, нижний маржин 0 */
  }
  .our-works .list:nth-child(2n) {
    margin-right: 0;
  }
  .our-works .list:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-works .list {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    /* у каждого третьего справа маржин 0 */
    /* у всех, кроме трех последних, нижний маржин 0 */
  }
  .our-works .list:nth-child(3n) {
    margin-right: 0;
  }
  .our-works .list:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.our-works .list:hover, .our-works .list:focus {
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ------------------------------------------------ */
/* четвертый вариант, если под контент не надо ставить фон */
/* надо в контейнере поставить margin: -15px; */
/* .our-works .list {
  margin: -15px;
} */
.footer-color {
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    display: inline-block;
  }
}

.footer-adress-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-adress-list {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-adress-list {
    text-align: center;
  }
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-adress-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-adress-link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover, .footer-adress-link:focus {
  color: #2196f3;
}

/* footer-socials------------------------------- */
@media screen and (max-width: 767px) {
  .footer-socials {
    margin-bottom: 60px;
  }
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .socials-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.invitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .invitation {
    display: inline-block;
  }
}

.socials-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list .link:hover, .socials-list .link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.socials-list-icon {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list .link:hover .socials-list-icon,
.socials-list .link:focus .socials-list-icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.socials-list .item:not(:last-child) {
  margin-right: 10px;
}

/* footer-subscription -------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscription {
    margin-top: 60px;
  }
}

.footer-subscription-label {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer-subscription-label {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-subscription-input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscription-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-subscription-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscription-input {
    width: 373px;
  }
}

/* стилизация кнопки----------------------------- */
@media screen and (max-width: 1199px) {
  .footer-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn.secondary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  /* color: var();
  background-color: var(); */
  padding: 10px 28px;
  /* скрыть все, что находится за пределами кнопки */
  overflow: hidden;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.secondary:hover, .btn.secondary:focus {
  background-color: #1665a7;
  color: #212121;
}

.icon-send {
  fill: #ffffff;
  margin-left: 10px;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.secondary:hover .icon-send {
  /* transform: translateY(-40px); */
  -webkit-transform: translateY(-200%) translateX(200%);
          transform: translateY(-200%) translateX(200%);
}

.icon-send-new {
  position: absolute;
  right: 28px;
  -webkit-transform: translateY(200%) translateX(-200%);
          transform: translateY(200%) translateX(-200%);
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.secondary:hover .icon-send-new {
  -webkit-transform: translateY(0) translateX(0);
          transform: translateY(0) translateX(0);
}
/*# sourceMappingURL=main.css.map */